name: CI for Hello World App
on: push

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Run Unit Tests
        run: mvn test -Dtest=com.napier.sem.MyTest

  build:
    name: Build and Start Docker Compose
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Package and Run docker-compose
        run: |
          mvn package -DskipTests
          docker compose up -d

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Start Docker containers (if not running)
        run: docker compose up -d

      - name: Wait for Database
        run: sleep 20

      - name: Run Integration Tests
        run: mvn test -Dtest=com.napier.sem.AppIntegrationTest

      - name: Stop Docker containers
        run: docker compose down
